<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${title}"></title>
        <link href="css/main.css" rel="stylesheet" />
    </head>
    <body>
        <h1 class="team_x-headline" th:text="${title}"></h1>
        <div id="content">
            <div>
                <h4>Navigation</h4>
                <iframe
                    class="team_x-iframe"
                    src="https://nak.matthias-geissendoerfer.de/statuschecker/"
                    frameborder="1"
                    width="50%"
                    height="100%"
                ></iframe>
            </div>
            <div>
                <h4>Aktion</h4>
                <iframe
                    class="team_x-iframe"
                    src="https://nak.matthias-geissendoerfer.de/statuschecker/"
                    frameborder="1"
                    width="50%"
                    height="100%"
                ></iframe>
            </div>
            <div>
                <h4>Artikel</h4>
                <iframe
                    class="team_x-iframe"
                    src="https://nak.matthias-geissendoerfer.de/statuschecker/"
                    frameborder="1"
                    width="50%"
                    height="100%"
                ></iframe>
            </div>
            <div>
                <h4>Footer</h4>
                <iframe
                    class="team_x-iframe"
                    src="https://nak.matthias-geissendoerfer.de/statuschecker/"
                    frameborder="1"
                    width="50%"
                    height="100%"
                ></iframe>
            </div>
        </div>

        <script src="js/main.js" type="application/javascript"></script>
    </body>
</html>
