<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${title}"></title>
        <link href="css/main.css" rel="stylesheet" />
    </head>
    <body class="body">
        <h1 class="team_x-headline" th:text="${title}"></h1>
        <div th:if="${strategy == 'csi'}" id="content-csi" class="team_x-content"></div>

        <div th:if="${strategy == 'ssi'}" id="content-ssi" class="team_x-content">
            <div>
                <div th:utext="${navigationFragment}"></div>
            </div>
            <div>
                <div th:utext="${aktionFragment}"></div>
            </div>
            <div>
                <div th:utext="${artikelFragment}"></div>
            </div>
            <div>
                <div th:utext="${footerFragment}"></div>
            </div>
        </div>

        <script src="js/seitenrahmen.js" type="application/javascript"></script>
    </body>
</html>
